# PhoneVault MySQL Configuration

# Keep back ticks if you have special characters in your password.
MYSQL_ROOT_PASSWORD='change_me_root_password'

MYSQL_DATABASE=phonevault2

MYSQL_USER=phonevault2

# Keep back ticks if you have special characters in your password.
MYSQL_PASSWORD='change_me_user_password'

# Host port used to connect to MySQL.
# 3306 & 3307 is already used by another project on my machine (Feel free to use another port)
MYSQL_HOST_PORT=3308
